html {
  height: 100%;
  font-family: "Consolas", "Roboto", "Inconsolata" !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  position: relative;
  font-size: 0.75rem !important;
  font-family: "Consolas", "Roboto", "Inconsolata" !important;
}

@font-face {
  font-family: "Consolas", "Roboto", "Inconsolata" !important;
  src: local("Consolas"), url('https://themes.googleusercontent.com/font?kit=tU9YDI746eMeg42M7b80TPesZW2xOQ-xsNqO47m55DA') format('woff');
}